@charset "utf-8";
.top{
	background-image:url(back.png);
	background-size: 100vw auto;
	background-attachment: fixed;
	height: 100vh;
}

.top-text{
	font-size: 4em;
	height: 30%;
	color: #FFFFFF;
	text-align: center;
	line-height: 20vw;
}

.kensaku{
	height: 30%;
	width: 100vw;
	font-size: 4em;
	color: #FFFFFF;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.result{
	background: #FAD8F0;
	height: 100vh;
}

.result .col-xs-6{
	background-color: #e9e9e9;
}

.result .row{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.res .col-xs-10{
	border: solid
}

.res .row{
	padding: 0;
}

.res img{
	height:100%;
}

.gazo{
	text-align: center;
	height:6em;
}

.tenmei{
	font-size: 2em;
	text-align: center;
	line-height: 2em;
}

.data{
	display: table-cell;
	vertical-align: middle;
}

.hoshi{
	display: block;
	line-height: 1.8em;
	font-size: 2em
}