@charset "utf-8";
.top{
	background-image:url(back.png);
	background-size: auto 100vh ;
	background-attachment: fixed;
	height: 100vh;
}

.top-text{
	font-size: 4em;
	height: 30%;
	color: #FFFFFF;
	text-align: center;
	line-height: 20vw;
}

.kensaku{
	height: 30%;
	width: 100vw;
	font-size: 4em;
	color: #FFFFFF;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}